#outerBox{
    height: 320px;
    width: 100%;
    // background-color : lightgrey;
    display : flex;
    align-items : center;
    justify-content  : center;
}

#outerWheel{
    height : 280px;
    width : 280px;
    border-radius: 140px;
    background-color : rgb(235, 232, 232);
    display : flex;
    align-items : center;
    justify-content  : center; 
    position : relative;

    button{
        position : absolute;
        border: none;
        font-size: 1.8rem;
        color:rgb(114, 112, 112);
        background-color: rgb(235, 232, 232);
        
    }
}

#left{
    left:20px;
    
}

#right{
    right:20px;

}

#up{
    top:20px;
    font-size: 1.6rem !important;
}

#down{
    bottom:20px;

}

#innerWheel{
    height: 100px;
    width : 100px;
    border-radius : 50px;
    background-color : #969595 !important;
    
};